/*---------------------------------------------------------------------------*/
/*--------------------------Header and Footer--------------------------------*/
/*---------------------------------------------------------------------------*/
.col-sm-4,.col-sm-12,.col-sm-2,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-5,.col-xs-12{
    padding: 0;
}
body{
    background-image: url(../images/durys-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#mobHeader{padding: 20px;}

.disnon{display: none;}

img.logo{padding-left:30px;width: 100%;max-width: 370px;}

nav.nav{background-color: transparent;}
.plotis1,.plotis2{
    padding: 0;
}
.top-c{
    font-size: 20px;
    font-weight: 500;
    color: #9d2827;
    margin-top: 10px;
}
.top-c img, .bottom-c img{
    margin-right: 20px;
}
.navbar-default ul.navbar-nav li a{
    color: #000;
    font-size: 20px;
    margin-top: 15px;
    border-top: 1px solid #9d2827;
}
@media screen and (min-width: 960px) {
    .mob-c{display: none;}
    .social-box img{
        width: 55px;
    }
    .mob-bottom{display: none;}
     
}
@media screen and (min-width: 768px) {
    #mobmenu{margin-left: 17%; margin-right: 17%;}
}
@media screen and (max-width: 1360px) {
    .navbar-default ul.navbar-nav li a{font-size: 18px;}
    .navbar-default ul.navbar-nav li a.bottom{font-size: 14px;}
}

@media screen and (max-width: 1200px) {
    .top-c{font-size: 18px;}
    .navbar-default ul.navbar-nav li a{font-size: 15px;}
    .navbar-default ul.navbar-nav li a.bottom{font-size: 13px;}
    ul li a.ugis{
        padding: 10px;
        border: none;
        font-size: 16px;
    }
    img.logo{padding-left:15px;max-width: 270px;}
}
@media screen and (max-width: 1100px) {
    .navbar-default ul.navbar-nav li a{font-size: 13px;}
    .navbar-default ul.navbar-nav li a.bottom{font-size: 11px;}
}
button.navbar-toggle img, .container{
    width: 100%;
    min-width: 60px;
}
button.navbar-toggle img{max-width: 70px;}
button.navbar-toggle{
    padding: 0;
}
button.navbar-toggle{
    border: 0;
    width: 30%;
    margin: 0;
}
.navbar-default ul.navbar-nav li.Here a{
    border-bottom: 1px solid #9d2827;
    border-right: 1px solid #9d2827;
    border-left: 1px solid #9d2827;
    border-top: 0; 
    color: #9d2827;
}
.navbar-default ul.navbar-nav li.Here a.bottom{
    color: #fff;
    text-decoration: underline;
    border: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
#mobmenu a{
    text-align: center;
    color: black;
    background-color: #fff;
    border: 1px solid #9d2827;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

#mobmenu li.Here a{
    background-color: #9d2827;
    color: #fff;   
}

.carousel-indicators {
  bottom: 0px;
}
.carousel-indicators li {
    background-color: transparent;
    border-color: #b33434;
}

.carousel-indicators .active {
    background-color: #b33434;
}
.carousel-control {
  width: 5%;
  padding-top: 8%;
  text-align: center;
  background-color: transparent;
  opacity: 1;
}
.carousel-control img {
  width: 100%;
}
.carousel-control.left, .carousel-control.right {
   background-image:none;
}
.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
}
footer{
    position: relative;
    background-color: #98201f;
    color: #fff;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19),
                0 4px -8px 0 rgba(0, 0, 0, 0.2), 0 6px -20px 0 rgba(0, 0, 0, 0.19);
}
.social-box{
    text-align: center;
}
.social-box img{
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.top-c,.bottom-c{
    font-weight: 500;
    text-align: left;
}
.top-c p,.bottom-c p{
    display: inline-block;
}
.bottom-c{
    padding-top: 15px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}
.teises{
    border-top: 1px solid #fff;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
}
.teises, .net{
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 959px) {
    .tab-bottom{display: none;}
    .navbar-collapse.collapse {
        display: none !important;
    }
    .pop-up{
        bottom: 100px; 
    }
    .teises{
        font-size: 19px;
        padding-top: 10px;
    }
    .navbar-collapse.collapse.in, .collapse, .navbar-toggle{
        display: block !important;
    }
    .rm{display: none;}
    #myCarousel{display: none;}
    #mobHeader{
    padding-bottom: 10px;
    border-bottom: 1px solid #9d2827;
    }
    .navbar-default ul.navbar-nav li a{font-size: 13px;}
}
ul.bottom-navigation{
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}
ul.bottom-navigation li{
    display: inline;
}
ul.bottom-navigation li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
}
ul.bottom-navigation{padding: 0;}
ul.bottom-navigation li.Here a{
    color: #fff;
    text-decoration: underline;
}
li.kainosb{
    padding-left: 5%;
    padding-right: 5%;
}
ul.nav{
    max-width: 100%;  
    margin: 0;
    padding: 0;
    float: right;
}
@media screen and (max-width: 550px) {
    ul.bottom-navigation li a{font-size: 14px;}

}
.navbar-default ul.navbar-nav li a.bottom{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}
a.carousel-control.right img{
    transform: rotate(180deg);
}
.navbar-default ul{
    text-align: right;
}
/*---------------------------------------------------------------------------*/
/*--------------------------------------BODY---------------------------------*/
/*---------------------------------------------------------------------------*/
body{
    background-color: transparent;
}
.panel-body{
	padding: 0;
}
.page-header{
	margin: 0;
    text-align: center;
    border-bottom: 0;
}
.page-header p,.page-header h1{
	padding-top: 15px;
    font-size: 25px;
	padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;   
}
.line{
    border-top: 2px solid #a63b3a;
    width: 130px;
    margin: auto;
}
p, .imgframe{
    text-align: center;
    background-color: transparent;
}
section{padding: 0;}
.imgframe img.image{
    padding-top: 10px;
}
.panel.panel-default{
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
.akcija-box{
    border: 1px solid #a63b3a;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.akc2{
    margin-bottom: 15px;
}
.akcija{
    font-size: 20px;
    color: #891a1a;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    padding-bottom: 0;
}
@media screen and (min-width: 1281px) {
    article.container, footer .container{
        width: 75%;
    }
}
.info-box{padding-top: 10px;}
@media screen and (max-width: 950px){
    .info-box img{width: 70%; max-width: 200px;}
}
@media screen and (max-width: 770px){
    .info-box img{width: 50%;max-width: 200px;}
    .akcija-box{width: 80%;margin-left: 10%}
    
}
@media screen and (max-width: 690px){
    .info-box img{width: 70%; max-width: 200px;}
    .akcija-box{width: 100%;margin-left: 0;}
}
.aprasymas{
    border: 1px solid #a63b3a;
    padding: 5px;
    text-align: left;
}
.akcija-active{
    text-decoration: underline;
}
.aprasymas1,.aprasymas2 {
    margin: 5px;
    padding-top: 15px;
    text-align: left;
}
table{
    margin-bottom: 10px;
}
.me{
    border: 1px solid #a63b3a;
    border-bottom: 0;
    text-decoration: underline;
    padding: 10px;
}
.top-border{
    border-top: 1px solid #a63b3a;
}
.bottom-line{border-bottom: 1px solid #a63b3a;}
.skaityti{
    text-transform: uppercase;
    color: #a63b3a;
    border: 1px solid #a63b3a;
    border-top: 0;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}
.sk-box{
    margin-top: 20px;
}
.tag{
    margin: 0; 
    text-transform: uppercase;
}
.tag .old{
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
    padding-right: 10px;
}
.tag .new{
    font-size: 20px;
    font-weight: 500;
    color: #891a1a;
}
.kontaktai-left{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
}
table.langas tr td h2,
table.langas tr td p{
    text-align: left;
    font-size: 20px;
}
table.langas p:nth-child(2){
    color: #891a1a;
}
table.langas td{
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
.kontaktai-left p{
    margin: 5px;
    font-size: 18px;
}
.kontaktai-left p:nth-child(6){
    padding-bottom: 15px;
}
.kontaktai-right{
    background: #9d2827;
    border: 1px solid #841717;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
input, textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
textarea{padding-bottom: 30px;}
.mail-bottom{
    width: 550px;
    height: 434px;
    position: absolute;
    bottom: 240px; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.pop-up{
    background: url(../images/mail-bottom.png)no-repeat;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.pop-up input,.pop-up textarea,.pop-up button.siusti{
    width: 100%;
    margin-top: 10px;
    color: #000;
}
.pop-up button.siusti{
    color: #fff;
}
.pop-up textarea{
    padding-bottom: 30px;
}
@media screen and (max-width: 560px){
    .mail-bottom{
    width: 300px;
    height: 434px;
    position: absolute;
    bottom: 240px; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }
    .pop-up{
        background-position: center;
    }
}
img.icon{
    position: absolute;
    background-color: transparent;
    border-radius: 100px;
    -moz-border-radius: 100px; 
    -webkit-border-radius: 100px;
    border-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 133px;
    height: 133px;
    overflow: hidden;
}
.iconShadow1:hover,.iconShadow2:hover{
    transform: scale(1.2);
}
.iconShadow1,.iconShadow2{
    position: relative;
    background: transparent;
    margin-right: auto;
    margin-left: auto;
    width: 133px;
    height: 133px;
    border-radius: 100px;
}
.d,.ic1,.ic{
   font-size: 16px;
   height: 60px;
   margin-bottom: 0;
   margin-top: 25px;
   padding: 5px;
   padding-bottom: 0;
}
@media screen and (max-width:801px){
    .d,.ic1,.ic{
        font-size: 14px;
        height: 74px; 
    }
    img.icon{width: 120px;}
    .iconShadow1,.iconShadow2{
        width: 120px;
        height: 120px;
    }
}
@media screen and (min-width: 1100px){
    .d,.ic1,.ic{font-size: 18px;}
}
@media screen and (min-width: 1000px){
    
}
#didelis p, #mazas p{
    margin:0;
}
@media screen and (max-width: 765px){
    .skaityti{
        font-size: 15px;
    }
    table.langas tr td h2,
    table.langas tr td p{font-size: 18px;}
}
.seo{
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.seo p{
        display: inline-block;
}
.telefonas{margin-left: auto;height: 30px;}
.telefonas p{
    display: inline-block;
}
button.siusti{
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    background: #800000;
    border: #800000;
    color: #fff;
    font-weight: 800;
}
.top-c img{
    height: 27px;
    width: 48px;
}
.telefonas img{
    height: 43px;
    width: 39px;
}
.top-c td.telefonas{
    padding-bottom: 16px;
}
@media screen and (max-width: 1200px){
    .top-c img{
        height: 21px;
        width: 37px;
    }
    .telefonas img{
        height: 33px;
        width: 33px;
    }
    .top-c td.telefonas{
        padding-bottom: 13px;
    }
}
.bottom-c img{
    height: 15px;
    width: 27px;
}
.bottom-c .telefonas img{
    height: 24px;
    width: 24px;
}
@media screen and (max-width: 1000px){
    .top-c{
        font-size: 16px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 400px){
    img.icon{width: 85px;}
    .iconShadow1,.iconShadow2{
        width: 85px;
        height: 85px;
    }
    .top-c{font-size: 14px;}
    .skaityti{font-size: 11px;}
    .top-c img, .bottom-c img{
    height: 17px;
    width: 25px;
    }
    .telefonas img{
    height: 20px;
    width: 20px;
    }
    nav.nav.navbar-default:first-child{
        padding-right: 15px;
    }
    table.langas tr td h2,
    table.langas tr td p{font-size: 15px;}
    .kainos-durys h3{
        font-size: 14px;
        padding-left: 10px;
        text-align: center;
    }
    .kainos-durys h3 label{
        display: block;
        padding-left:0;
        padding-top: 10px;
    }
    .durysTitle{font-size: 17px;}
}
.collapse.navbar-collapse{
    float: right;
    padding: 0;
    width: 100%;
}
.kainos-durys h3{
    width: 100%;
    color: #000;
    text-transform: none;
    text-align: left;
    font-size: 20px;
}
.kainos-durys h3 label{
    text-transform: uppercase;
    color: #841717;
    padding-left: 50px;
}
@media screen and(max-width: 801px){
    .kainos-durys h3{
        font-size: 16px;
        padding-left: 10px;
        text-align: center;
    }
    .kainos-durys h3 label{
        display: block;
        padding-left:0;
        padding-top: 10px;
    }
    p.durysTitle{font-size: 20px;}
}

.durysTitle{
    color: #841717;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.social-box img{
        width: 51px;
}
body,p,h1,h2,h3,h4,ul,li,a{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.aprasymas p,.aprasymas1 p,
.aprasymas2 p{
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}
#mazas p,#didelis p,#mazas h2,#didelis h2,
#mazas h3,#didelis h3,#mazas h4,#didelis h4{
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}
.sh{
    display: relative;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.3);
    width: 132px;
    height: 132px;
    border-radius: 100px;
    z-index: -1;
}
ul.nav.navbar-nav{
    width: 100%;
}
header.container{
    width: 100%;
    padding: 0;
}
.d{text-align: center;}